#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center; /* Centrar el contenido */
  align-items: center;
  height: 100vh; /* Aseguramos que ocupe toda la pantalla */
  background-color: #f4f4f4; /* Fondo suave */
}

.main-container {
  background-color: white;
  border-radius: 16px; /* Bordes redondeados */
  padding: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  width: 100%;
  max-width: 800px; /* Ancho máximo */
}

.contenedorMain {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 24px 32px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  max-width: 450px;
  margin: 40px auto;
  font-family: "Poppins", system-ui, sans-serif;
}

h1 {
  text-align: center;
  color: #222;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
